<!DOCTYPE html>
<html lang="{{ page.lang }}">
  {{ partial('partial/head') }}
  {% set url = url_for(page.path) %}
  {% set regExp = r/\/api\/.*/g %}
  <body>
    {% if regExp.test(url) %}
      <div>
        {{ body }}
      </div>
    {% else %}
      <div id="container">
        {{ partial('partial/header') }}
        {{ body }}
        {{ partial('partial/footer') }}
      </div>
      <div id="mobile-nav-dimmer"></div>
      {{ partial('partial/mobile_nav') }}
      {{ partial('partial/after_footer') }}
    {% endif %}
  </body>
</html>