layout: index
description: datart 是新一代数据可视化开放平台，支持各类企业数据可视化场景需求，如创建和使用报表、仪表板和大屏，进行可视化数据分析，构建可视化数据应用等。由原 davinci 主创团队出品，datart 更加开放、可塑和智能，并在数据与艺术之间寻求最佳平衡
subtitle: 新一代数据可视化开放平台，支持报表、仪表板、大屏、分析和可视化数据应用的敏捷构建
comments: false
---
p.main-desc datart 是新一代数据可视化开放平台，支持各类企业数据可视化场景需求，如创建和使用报表、仪表板和大屏，进行可视化数据分析，构建可视化数据应用等。由原 davinci 主创团队出品，datart 更加开放、可塑和智能，并在数据与艺术之间寻求最佳平衡。
ul#intro-feature-list
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-bolt
      h3.intro-feature-title 开放 Openness
      p.intro-feature-desc BI产品作为标准化产品成熟度已经很高，但大多数BI产品为封闭系统，即用户只能使用BI产品内置提供的数据源、数据图表、可视化元素等。我们认为数据可视化平台可以在其系统边界范围内，在多个层面提供开放可扩展能力，新的扩展支持可以通过即插即用方式安装、更新或卸载。因此 datart 试图建立起一套标准化的数据可视化开放平台体系。
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-pencil
      h3.intro-feature-title 可塑 Integrability
      p.intro-feature-desc datart 可作为独立平台使用，但不仅限于此，为了更好支持快速构建定制化数据应用系统，datart 可以很容易被整合、被内嵌至其他三方系统，承担数据可视化部分功能。通过 datart 的登录对接能力、权限对接能力、Source 层对接能力和 Visualization 层分享、SDK等能力，用户可以基于 datart 平台对接或二开以快速满足业务系统定制化需求。
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-cloud-upload
      h3.intro-feature-title 智能 Augmented Analytics
      p.intro-feature-desc 传统BI产品只能对已有数据进行勘察，而现代BI产品更加重视对数据延展洞见，以形成完整数据分析洞察能力，或增强分析能力。datart 会在平台层面提供可扩展数据增强分析能力，基于数据通过可视化方式不仅回答 What，并且可以回答 Why。
